.no-js .sw,
.js .js-hide, /* Hide if we have js */
.req-auth,
.not-authorized .req-auth
{
    display: none;
}
.authorized .req-auth
{
    display: block;
}
.pointer 
{
    cursor: pointer;
}

@media (max-width: 450px)
{
    body
    {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top
    {
        margin-right: 0;
        margin-left: 0;
    }

    .hero-unit
    {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 5px;
    }
    .hero-unit h1
    {
        font-size: 2em;
    }
    .hero-unit p
    {
        font-size: 1em;
        font-weight: 200;
        line-height: 1.4em;
    }
    .navbar-fixed-top
    {
        margin-bottom: 0;
    }
}
